<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="smvcMybatis.Dao.UserDao">
	<select id="getUserByName" parameterType="string"
		resultType="smvcMybatis.Entity.User">
		SELECT * FROM sys_user u WHERE u.username = #{name}
	</select>

	<insert id="regester" parameterType="smvcMybatis.vo.UserCondition">
		INSERT INTO
		sys_user(username, password,role_id, email)
		VALUES(#{userName},#{password},2,#{email})
	</insert>
</mapper>
